@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Lilita+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0px;
    background-color: #f8f6ee;
}


:root {
    --bs-deep-walnut: #433221ff;
    --bs-floral-white: #F8F6EEff;
    --bs-faded-copper: #B38059ff;

}

/***********/
/**Fonts****/
/***********/
h1 {
    color: var(--bs-deep-walnut);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

h2 {
    color: var(--bs-deep-walnut);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h3,
h4,
h5
{
font-family: "Comic Relief", system-ui;
font-weight: 400;
font-style: normal;
}

p {
    color: var(--bs-faded-copper);
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}

.liste_ingredients,.liste_astuces{
    justify-content: none;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.liste_astuces{
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/*********/
/*header*/
/********/


header {
    margin: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: var(--deep-walnut);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/*******/
/*body*/
/******/

.image_page_accueil,
.image_apropos {
    width: 100%;
    height: 80vh;
}



.container_presentation {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container_apropos {
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.container_astuces{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
/************************/
/*******CARDS A PROPOS**/
/***********************/

.container_cards,.container_cards_recette{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 40px 0px;
}

.container_card,.card_recette {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 24px;
    background-color: var(--bs-faded-copper);
    padding: 16px;
    gap: 16px;
}

.container_cards_img,.card_img {
    width: 100%;
    border-radius: 16px;
}


/*********************/
/***CARD RECETTE****/
/********************/


/********/
/*FOOTER*/
/********/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bs-deep-walnut);
    padding: 10px 0px;
}

.footer_texte {
    color: var(--bs-floral-white);
    font-size: 12px;

}