@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Lilita+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0px;
    background-color: #f8f6ee;
}


:root {
    --deep-walnut: #433221ff;
    --floral-white: #F8F6EEff;
    --faded-copper: #B38059ff;
}


header {
    margin: 40px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: var(--deep-walnut);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: var(--deep-walnut);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

.image_page_accueil{
    width: 100%;
}

.container_presentation{
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


h2 {
    color: var(--deep-walnut);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: var(--faded-copper);
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--deep-walnut);
    padding: 10px 0px;
}

.footer_texte{
    color: var(--floral-white);
    font-size: 12px;

}

